@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/subset-FuturaPT-Book.woff2') format('woff2'),
  url('../fonts/subset-FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/subset-FuturaPT-Bold.woff2') format('woff2'),
  url('../fonts/subset-FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/subset-FuturaPTCond-Medium.woff2') format('woff2'),
  url('../fonts/subset-FuturaPTCond-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color:#E5E5E5;
  color: #222;
  background-image: url("../img/bg.png");
  background-position: center center;
  background-size: contain;
  background-repeat: repeat;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-adres {
  background-color: #F9F8F8;
}
.site-adres-container {
  display: flex;
  align-self: center;
  justify-content: center;

}
.site-adres-adres {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #333333;
  margin-left: 100px;
}
.site-adres-adres::before{
  content: "";
  display: block;
  width: 14px;
  height: 13px;
  background-image: url("../img/home-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}
.site-adres-tel-wrapper {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.site-adres-tel-wrapper::before{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/tel-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}
.site-adres-tel {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.site-adres-tel:not(:first-child)::before{
  content: "";
  display: block;
  border-radius: 50%;
  background-color: #FFBD54;
  width: 4px;
  height: 4px;
  margin-right: 9px;
  margin-left: 9px;
}
.site-adres-time-wrapper {
  display: flex;
  align-items: center;
}
.site-adres-time-wrapper::before{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/time-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}
.site-adres-time {
  margin-right: 17px;
}
.site-navigation {
  background-color: #fff;
}

.site-navigation-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-nav {
  display: flex;
  align-items: center;
  position: relative;
}
.site-logo {
  position: absolute;
  left: -11%;
  top: -25%;
}
.logo-img {
  display: block;
  width: 177px;
  height: 86px;
}
.nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 215px;
}
.nav-list::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/fish.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px;
}
.nav-item:not(:last-child) {
  margin-right: 55px;
}
.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  display: block;
  padding: 20px 0 20px 0;
}
.site-navigation-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 20px 0 20px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: auto;
}
.site-navigation-link::before{
  content: "";
  display: block;
  width: 23px;
  height: 20px;
  background-image: url("../img/pet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 4px;
  transform: rotate(-15deg);
}
.site-main {
  padding-bottom: 247px;
}
.hero {
  background-image: url(../img/left-bg.png), url(../img/right-bg.png);
  background-position: calc(50% + -538px) calc(50% - -13px) , calc(50% + 690px) calc(50% - -224px);
  background-repeat: no-repeat;
}

.hero-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
  width: 50%;
  padding: 145px 0 290px 0;
}
.hero-section-title {
  display: block;
  margin: 0;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}
.hero-section-title-blue {
  color: #78C0DE;
}
.hero-section-text {
  margin: 0;
  margin-bottom: 38px;
  width: 495px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}
.hero-section-link {
  text-decoration: none;
  padding: 15px 48px;
  background-color: #333333;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.clink {

  padding-bottom: 191px;
}

.clink-container {
  display: flex;
  position: relative;
  background-color:  #E5E5E5;
}
.clink-container::before{
  content: "";
  position: absolute;
  left: 200px;
  top: -10%;
  display: block;
  width: 52px;
  height: 50px;
  background-image: url("../img/bottom.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-180deg);
}
.clink-container::after{
  content: "";
  position: absolute;
  right: 200px;
  top: 40%;
  display: block;
  width: 52px;
  height: 50px;
  background-image: url("../img/top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transform: rotate(-180deg);
}
.clink-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  width: 753px;
  margin-left: auto;
  margin-right: auto;

}
.clink-title {

  margin: 0;
  margin-top: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}
.clink-text {
  display: block;
  margin: 0;
  width: 790px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #949494;
}
.clink-text::before{
  display: block;
  content: "";
  width: 140px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color:#DBDBDB;
  margin-bottom: 43px;
}
.clink-text::after{
  display: block;
  content: "";
  width: 140px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  background-color:#DBDBDB;
}
.service {

  padding-bottom: 127px;
}

.service-container {
  position: relative;
  background-color: #E5E5E5;
}
.service-title {
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
}
.service-togler-left {
  display: block;
  position: absolute;
  top: 230px;
  left: -30px;
  width: 50px;
  height: 50px;
  background-image: url("../img/Group.png");
  background-position: center;
  background-size: 14px 26px;
  background-repeat: no-repeat;
  border: 0;
  padding: 12px 18px;
  background-color: transparent;
}
.service-togler-left:hover{
  background-color: #fff;
}
.service-togler-left:active{
  background-color: #fff;
  opacity: 0.6;
}
.service-togler-right {
  display: block;
  position: absolute;
  top: 230px;
  right: 57px;
  width: 50px;
  height: 50px;
  background-image: url("../img/arrow.png");
  background-position: center;
  background-size: 14px 26px;
  background-repeat: no-repeat;
  border: 0;
  padding: 12px 18px;
  background-color: transparent;
  position: absolute;
}
.service-togler-right:hover{
  background-color: #fff;
}
.service-togler-right:active{
  background-color: #fff;
  opacity: 0.6;
}
.service-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 414px;
}
.service-item:not(:last-child) {
  margin-right: 13px;
}
.service-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.service-link {
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  width: 193px;
  height: 203px;
  background-color: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  padding: 30px 0 28px 0;
}
.service-item-active::after{
  content: "";
  position: absolute;
  top: 75%;
  width: 100%;
  height: 23px;
  background-color: #fff;
  display: block;
  transform: translateY(42px);
}
.service-item-active > .sub-section{
  display: flex;
}
.service-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  width: 120px;
}
.service-text::before{
  display: block;
  content: "";
  width: 77px;
  height: 72px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 22px;
}
.per::before{
  background-image: url("../img/doctor.png");
}
.xir::before{
  background-image: url("../img/outline.png");
}
.kaplin::before{
  background-image: url("../img/filled.png");
}
.der::before{
  background-image: url("../img/der.png");
}
.lab::before{
  background-image: url("../img/lab.png");
}
.ofta::before{
  background-image: url("../img/ofta.png");
}

.sub-section {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 1223px;
  padding: 43px 35px;
  position: absolute;
  top: 100%;
  background-color: #fff;
  margin-top: 13px;

}
.sup-img {
  width: 524px;
  height: 329px;
  display: block;
}
.sup-wraper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 492px;
}
.sup-wraper-title {
  margin: 0;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: #333333;
}
.sup-wraper-text {
  margin: 0;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}
.wrapper-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.price {
  display: flex;
  align-items: center;
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 36px;
  background-color: #FFBD54;
  border-radius: 3px;
  margin-right: 21px;
}
.price::before{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/money.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}
.write {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 36px;
  background-color: #333333;
  border-radius: 3px;
}
.write::before{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/document.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}
.subs {
  background-image: url("../img/bg-4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1600px;
  padding-bottom: 151px;
}

.subs-container {
  display: flex;
  align-items: center;
  padding: 90px 0 90px 0;
}
.subs-wraper{
  width: 700px;
  margin-left:200px;
  padding: 90px 90px ;
}
.subs-title {
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  color: #FFFFFF;
}
.subs-form {
  display: flex;
  align-items: center;
}
.subs-input {
  width: 335px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 18px 22px;
  color: #949494;
  margin-right: 21px;
  outline: none;
}
.subs-input:not(:placeholder-shown):invalid{
  border: 2px solid #DC4D41;
  color: #DC4D41;
  border-radius: 5px;
}
.subs-input:focus{
  border: 2px solid;
  border: 2px solid #FFBD54;
  border-radius: 5px;
}
.subs-input:valid{
  border: 2px solid;
  border: 2px solid #FFBD54;
  border-radius: 5px;
  color: #333333;
}
.subs-button {
  padding: 0 52px;
  height: 50px;
  background-color: #333333;
  border-radius: 3px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  border: 0;
}
.maps {
  background-color: #333333;
  background-image: url("../img/form-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.maps-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.maps-img {
  display: block;
  width: 462px;
  height: 652px;
}
.wrapper-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 985px;
}
.form-wrapper{
  padding: 62px 0 72px 164px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-title {
  margin: 0;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}
.form-text {
  width: 334px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-bottom: 29px;
}
.site-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
}
.form-input {
  width: 100%;
  height: 50px;
  border: 2px solid transparent;
  background-color: #fff;
  padding: 15px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #949494;
  outline: none;
}
.form-input:not(:placeholder-shown):invalid{
  border: 2px solid #DC4D41;
  color: #DC4D41;
}
.form-input:focus{
  border: 2px solid;
  border: 2px solid #FFBD54;
}
.form-input:valid{
  border: 2px solid;
  border: 2px solid #FFBD54;
  color: #333333;
}
.name {
  margin-bottom: 14px;
}
.email {
  margin-bottom: 14px;
}
.form-textarea {
  margin-bottom: 30px;
  width: 100%;
  height: 165px;
  padding: 15px 20px;
  resize: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #949494;
  outline: none;
}
.form-textarea:not(:placeholder-shown):invalid{
  border: 2px solid #DC4D41;
  color: #DC4D41;
}
.form-textarea:focus{
  border: 2px solid;
  border: 2px solid #FFBD54;
}
.form-textarea:valid{
  border: 2px solid;
  border: 2px solid #FFBD54;
  color: #333333;
}
.form-button {
  padding: 15px 50px;
  border: none;
  background-color: #FFBD54;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
}

.site-footer {
  background-color: #F3F3F3;
  border: 1px solid #EBEBEB;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  flex-wrap:wrap;
  padding: 54px 0 23px 0;
}
.footer-logo {
  margin-right: 67px;
}
.footer-logo-img {
  display: block;
  width: 158px;
  height: 77px;
}
.footer-lists-wrapper {
  display: flex;
  align-items: flex-start;
}
.footer-list {
  margin: 0;
  padding: 0;
  width: 140px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.footer-adres {
  margin-left: 127px;
}
.footer-adres-container {
  display: flex;
  align-items: flex-start;
}
.footer-adres-time-wrapper {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 112px;
}
.footer-adres-time:not(:last-child)::before{
  content: "";
  display: flex;
  width: 13px;
  height: 13px;
  background-image: url("../img/time-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}
.footer-adres-time {
  margin: 0;
  display: flex;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  width: 120px;
}
.footer-adres-time:not(:first-child){
  margin-left: 23px;
}
.footere-adres-adres {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100px;
  margin-right: 112px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  position: relative;
}
.footere-adres-adres::before{
  content: "";
  display: inline-block;
  position: absolute;
  left: -23px;
  top: 5px;
  width: 14px;
  height: 13px;
  background-image: url("../img/home-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}
.footer-adres-tel-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 142px;
}
.footer-adres-tel:first-child::before{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/tel-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}
.footer-adres-tel {
  display: flex;
  width: 107px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-bottom: 4px;
}
.footer-adres-tel:not(:first-child){
  margin-left: 23px;
}
.footer-text{
  margin-left: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #5C5C5C;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-adres::before{
    background-image: url("../img/home-img@2x.png");
  }
  .site-adres-tel-wrapper{
    background-image: url("../img/tel-img@2x.png");
  }

}